/*Palette*/
:root {
  --background-color: #080432;
  --primary-color: #827dbb;
  --secondary-color: #a59db3;
  --input-color: #0e056c89;
  --typography-h1: 40px;
  --typography-h2: 32px;
  --typography-h3-a: 14px;
  --typography-p: 13.6x;

}

/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic Coding', monospace, sans-serif;
}

/*Global Styles*/
body{
  background-color: var(--background-color);
  color:var(--primary-color);
  font-size: var(--typography-p);
  letter-spacing: 1.5px;
}

h1 {
  font-size: var(--typograpy-h1);
  text-transform: uppercase;
}

h2 {
  font-size: var(--typography-h2);
  text-transform: uppercase;
}

h3,
a{
  font-size: var(--typography-h3-a);
  text-transform: uppercase;
}

p{
  color: var(--secondary-color);
}

/*Header*/
header {
  min-height: 14vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

header ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

header a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
}



/*Hero*/
.hero {
  max-height: 60vh;
  overflow: hidden;
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;

}


/*Favorite albums*/
.favorite-albums {
  padding: 10%;
  display: flex;
  flex-direction:column;
  align-items:first center;
  justify-content: space-around;
  
}

.favorite-albums h2 {
  padding: 2.5%;
}

.favorite-albums ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 60%;
  list-style-type: none;
  text-align: center;
}

.favorite-albums img {
  width: 90%;
  padding: 0.5rem;
  transition: transform .2s;
}

.favorite-albums img:hover{
  transform: scale(1.05)
}

.favorite-albums ul p {
  margin-top: 0.5rem;
}

/*Videoclip*/
.videoclip {
  min-height: 60vh;
  overflow:hidden;
  display: flex;
  justify-content:center;
  align-items: center;
}
.videoclip div {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  gap: 1rem;
  text-align: center;
}

.videoclip button {
  background-color: transparent;
  color: var(--primary-color);
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 0.8rem;
  border: 2px solid var(--primary-color);
}
.videoclip video{
  min-height: 70vh;
  overflow:hidden;
  display: flex;
  justify-content:center;
  align-items: center;
}

/*Song List*/

.songlist {
  min-height: 70%;
  width: 50%;
  list-style-type: none;
  text-align:right;
  padding: 0.5%;
}

/*Footer*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;

  height: 500px;
  background-position: center; 
  background-repeat: repeat; 
  background-size: contain; 
}


.footer h2 {
  display: grid;
  flex-direction:row-reverse;
  width: 100%;
  list-style-type: none;
  text-align:right;
}



.footer input {
  display: flex;
  flex-direction:row-reverse;
  width: 33%;
  height: 53%;
  text-align:center;
  background-color: var(--input-color);
  font-family: var(--typography-p);
  margin-left:14.8rem; 
} 